:root {
    --header-bg-color:#A998EE;
    --font-color: #101313;
    --primary-color-co: #2D1674;
    --primary-border: #00753E;
    --primary-background: #899DE8;
    --nav-color:#F4F2EE;


}
*, *::before, *::after{

    box-sizing: border-box;
    
  }
* {
    margin: 0;
    padding: 0;
    font:inherit;
}
html {
    color-scheme: dark light;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
body{
    position: relative;
    background-color: var(--primary-background);
    min-height: 100vh;
    
}
 
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align: center;
    color: var(--primary-color-co);
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
    color: var(--primary-color-co)
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size:22px;
    text-align: center;
}
h4, p {
    font-family: 'Poppins', serif;
    font-size: 16px;
}
header{
    background-color: var(--primary-background);

    padding: 20px;  
}
.navbar {
     background-color: var(--nav-color);
}
 footer {
    position:fixed bottom;
    text-decoration-color: #101313;
}


.icon img{
    border-radius: 50%;
}
.nav {
    position: fixed;
    top: 0;
    background-color: var(--header-bg-color);
}
:visited {
    color: var(--primary-border);
}
.contact-icons i {
    text-align: center;
    margin: 30px;
    color: #101313;
    
}
.contact-icons :hover{
    color: var(--primary-color-co);
}

.tech-icons {
    text-align: left;
    margin: 30px;
    color: #101313;
}
.experience {
    background-color: var(--primary-background);
    
}

.fa-brands, .fa-regular {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; 
    font-style: normal;
    padding: 20px;
}

.about-section {
    background-color: var(--primary-background);
}


ul {
list-style-type: none;
}

  @media screen and (max-width: 768px) {
    body {
        padding: 1rem;
    }
        
        header, h1 {
            font-family: 'Poppins', sans-serif
            font-size: 24px;
            text-align: center;
        }
        header, h2 {
            font-size: 21px;
        }
        h2,h3 {
            font-family: 'Poppins', sans-serif
            font-size: 18px;
        }
        h4, h5 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
        .portfolio-image img {
            max-width: 45%;
        }
        .contact-icons i {
            align-items: center;
            margin: 10px;
            padding: 10px;
        
            
        }

      }
    
      