h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align: center;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align:center;
}
.icon img{
    border-radius: 50%;
}
.socials {
   display: var(--fa-display-inline-block);
   margin:var(--fa-li-margin-10px);
   text-align: center;
   padding: 30px;
}
