:root {
    --header-bg-color:#4245f5;
    --font-color: #101313;
    --primary-color-co: #4245f5;
    --primary-border: #b342f5;


}
* {
    color: var(--font-color);
  }
body{
    position: relative;
}
 
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align: center;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size:32px;
    text-align: center;
}
h4, p {
    font-family: 'Poppins', serif;
    font-size: 22px;
}
header{
    background-color: var(--header-bg-color);
    padding: 20px;  
}
.icon img{
    border-radius: 50%;
}
.nav {
    position: fixed;
    top: 0;
}
:visited {
    color: var(--primary-border);
}
.contact-icons {
    text-align: center;
    margin: 30px;
}
.contact-icons :hover{
    color: var(--primary-border);
}
.tech-icons {
    text-align: left;
    margin: 30px;
}
.fa-brands, .fa-regular {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; 
    font-style: normal;
    padding: 20px;

  }

  @media screen and (max-width: 700px) {
        .flex-container {
          flex-direction: column;
        }
        h1 {
            font-family: 'Poppins', sans-serif
            font-size: 28px;
        }
        h2,h3 {
            font-family: 'Poppins', sans-serif
            font-size: 22px;
        }
        h4, p {
            font-size: 16px;
        }
      }
    
 
  
